$white-color: #ffffff;
$font-main-color: #0B1739;
$main-dark-color: #3EB57C;
$shadow-green-color: #95D0A1;
$green-gradient: linear-gradient(to bottom, rgba(174, 228, 178, 0.5), rgba(149, 208, 161, 0.5));